@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Netflix";
  src: url("./assets/fonts/NetflixSans-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Netflix";
  font-weight: 200;
  src: url("./assets/fonts/NetflixSans-Light.otf") format("opentype");
}
@font-face {
  font-family: "Netflix";
  font-weight: 500;
  src: url("./assets/fonts/NetflixSans-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Netflix";
  font-weight: 700;
  src: url("./assets/fonts/NetflixSans-Bold.otf") format("opentype");
}
@layer base {
  html {
    font-family: "Netflix", sans-serif;
  }
}

.remember input + label {
  padding: 0;
  color: #b3b3b3;
  line-height: 1.2;
  position: relative;
  display: block;
}

.remember input + label::before {
  background: #737373;
  border: 0;
  border-radius: 2px;
  height: 16px;
  left: -20px;
  width: 16px;
  content: "";
  display: block;
  padding: 0;
  position: absolute;
  top: 2px;
}
.remember input[type="checkbox"] + label::after {
  position: absolute;
}
.remember input[type="checkbox"]:checked + label::after {
  content: "✔";
  font-size: 18px;
  left: -20px;
  top: 0;
  color: #000;
}
.notif input[type="checkbox"]:checked + label::after {
  content: "";
  left: -33px;
  position: absolute;
  border-bottom: 4px solid;
  border-left: 4px solid;
  display: block;
  height: 10px;
  top: 8px;
  transform: rotate(-45deg);
  width: 20px;
  color: #0071eb;
}

.focused {
  font-size: 10px;
  top: 28% !important;
  transition: 0.1s ease-in-out;
}
.focused-hero {
  font-size: 13px;
  top: 6% !important;
  transition: 0.1s ease-in-out;
}

.radial-hero {
  background-image: radial-gradient(
    120.35% 551% at 49.86% -6.29%,
    rgb(229, 9, 20) 0%,
    rgb(14, 27, 79) 46.15%,
    rgb(13, 17, 33) 100%
  );
}
.radial-topmain {
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 8%, 0) 0,
    hsla(0, 0%, 8%, 0.15) 15%,
    hsla(0, 0%, 8%, 0.35) 29%,
    hsla(0, 0%, 8%, 0.58) 44%,
    #141414 68%,
    #141414
  );
  background-position: 0 top;
  background-repeat: repeat-x;
  background-size: 100% 100%;
}
.download-bg {
  background: url("./assets/images/download-icon.gif");
  background-size: 100%;
}

.grid-hero {
  --grid-layout-gap: 0.75rem;
  --grid-item--min-width: 10.875rem;
  --grid-column-count: 4;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
}

@media screen and (min-width: 960px) {
  .grid-hero {
    --grid-item--min-width: 18.375rem;
  }
}

@media screen and (min-width: 740px) {
  .radial-hero {
    background-image: radial-gradient(
      51.39% 511.66% at 47.68% -217.91%,
      #ff9900 0%,
      #e50914 17.27%,
      #0e1b4f 79.44%,
      #000413 100%
    ) !important;
  }
}
